*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    position: relative;
}
 
form{
    position: absolute;
    background-color: #F3F1F5;
    color: #2C2E43;
    padding: 2.5rem;
    border-radius: 16px;
    left: 30%;
    top: 150px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 350px;
}
form h4{
    padding-bottom: 15px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #2C2E43;
}

form input{
    width: 100%px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-left:15px ;
    outline: none;
    border: 1px solid #2C2E43;
    font-size: 16px;

}
form input[type="submit"]{
     background: none;
     outline: none;
     border: 1px solid #2C2E43;
     color: #2C2E43;
     padding: 10px 20px ;  
     font-weight: bold;
}
form input[type="submit"]:hover{
    background-color: #2C2E43;
    color: #F3F1F5;
}

form input:focus::placeholder{
    opacity: 0;
    transition: 0.3s;
}